body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-page {
    background: url('568759.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info-page {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.404);
    border-radius: 10px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  button, .back-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover, .back-button:hover {
    background-color: #0056b3;
  }
  